/* IMAGES */





/* BASE STYLES
---------------------------------------------- */
* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: sans-serif;
    line-height: 1.3;
    margin: 0;
    padding: 0;
    background-color: #1d1d1d;
    color: #eaeaea;
}





/* TYPOGRAPHY
---------------------------------------------- */
h1 {
    text-align: center;
    font-size: 1em;
    background-color: rgb(70 70 70 / 75%);
    padding: 0.5em;
    border-radius: 0.5em;
    margin: 0.5em;
}

figcaption {
    font-size: 14px;
    font-style: italic;
}

figure {
    margin: 0;
    padding: 0;
}



/* IMAGES
---------------------------------------------- */

img {
   max-width: 100%;
}

/* .wide-image {
    width: 1000px;
}

.narrow-image {
    width: 500px;
} */




/* GALLERY GRID
---------------------------------------------- */

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1em;
    column-gap: 1em;
    row-gap: 1em;

    max-width: 1200px;
    margin: 0 auto;
}

.full-width {
    grid-column: 1 / -1;
}


/* HEADER
---------------------------------------------- */
header {
    min-height: 100vh;
    background-image: url(images/nebula.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 25vh;
    display: grid;
    align-items: end;
    justify-items: end;
}